
/* Navigation bar all three pages */


.navbar-brand {
    font-size: 24px;
    color: black;
    background-color: white;
    font-style: bold;
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
  
  }

  .navbar-footer {
    background-color: #666666;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    
    
    }

    a {
      text-align: center;
      color: #777777;
    }

/* Header */

.header {
    background-color: #ffffff;
    height: 50px;

}

.row {
  margin: 25px;
}

/* Container (large grey-blue background) Index page */

  .container{
    position: relative;
    background-color: #dddddd;
    height: 725px;
    width: 960px;
    left: 15%;
    margin: 0px 50px 0 50px; 
   
  }
  /* About me card (index page)*/

  

  .card-text1 {
      position: absolute;
      top: -150 px;
      width: 500px;
      font-size: 15px;
      font-family: Arial;
      color: #777777;
      margin: 0 0 0 50px;


  }

  .card-text2 {
    position: relative;
    top: 50px;
    width: 450px;
    font-size: 15px;
    font-family: Arial;
    color: #777777;
    padding: 20px 0 0 0;
    margin: 50px;
}

.card-text3 {
    position: relative;
    top: 25px;
    width: 450px;
    font-size: 15px;
    font-family: Arial;
    color: #777777;
    margin: 50px;
}

/* Portfilio cards */


section {
  position: relative;
  width: 100%;
  height: 100px;

}
body{
  position: relative;
  top: 0px;
}

.card-portfolio {
    position: absolute;
    left: 250px;
}

/* Contact page*/

#contact-insert {
position: relative;
background-color: #ffffff;
Width: 960px;
height: 500px;
left: 50%;
margin-left: -480px;
top: 30px;
} 


textarea {
position: relative;
right: -25;
height: 200px;
width: 95%;
border: 2px solid #cccccc;
}

input[type=email] {
position: relative;
width:95%;
right: -25px;
display: inline-block;
border: 2px solid #cccccc;
}

input[type=text] {
position: relative;
width:95%;
right: -25px;
display: inline-block;
border: 2px solid #cccccc;
}


